

@if (currentStep() === 1) {
       <div class="mb-6 border-border-primary border-b pb-6">
           <h1 class="text-text-primary text-2xl-semibold ">Forget Password?</h1>
           <p class="text-text-primary text-base-regular">Worry not, we’ll send you instructions to help you reset it.</p>
       </div>
       <form [formGroup]="forgetPasswordForm" (ngSubmit)="onsubmit()">
       <app-form-input [label]="'Email'" [type]="'email'" placeholder="user@example.com"   formControlName="email"></app-form-input>
       <lib-custom-button [label]="'Continue'" [buttonStyle]="'primary'" [buttonType]="'submit'"></lib-custom-button>
       </form>
       <app-form-link [label]="' Don’t have an account yet?'" [link]="'Create one now!'" [routerLink]="'/register'"></app-form-link>
       <lib-custom-alert></lib-custom-alert>
   }
    @if (currentStep() === 2) {
            <app-verify-otp [email]="forgetPasswordForm.get('email')?.value" (_currentStep)="currentStep.set(3)"></app-verify-otp>
    }
    @if (currentStep() === 3) {
        <app-reset-password [email]="forgetPasswordForm.get('email')?.value" (_currentstep)="currentStep.set(1)"></app-reset-password>
    }
