   @if (currentStep() === 1) {
       <div class="mb-6 border-border-primary border-b pb-6">
           <h1 class="text-text-primary text-2xl-semibold ">Forget Password?</h1>
           <p class="text-text-primary text-base-regular">Worry not, we’ll send you instructions to help you reset it.</p>
       </div>
       <form [formGroup]="forgetPasswordForm" (ngSubmit)="onsubmit()">
       <app-form-input [label]="'Email'" [type]="'email'" placeholder="user@example.com"   formControlName="email"></app-form-input>
       <button class="w-full bg-button-primary text-text-primary py-3 rounded-lg mt-4" type="submit">Continue</button>
       </form>
       <p> Don’t have an account yet? Create one now!</p>
   } 
    @if (currentStep() === 2) {
            <app-verify-otp [email]="forgetPasswordForm.get('email')?.value"></app-verify-otp>
    }
    @if (currentStep() === 3) {
        <app-reset-password [email]="forgetPasswordForm.get('email')?.value"></app-reset-password>    
    }
