<div
  class="relative w-full max-w-sm bg-white rounded-3xl pt-16 pb-8 px-8 shadow-sm text-center"
>
  <div class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div
      class="w-32 h-32 rounded-full border-4 border-white overflow-hidden shadow-md"
    >
      <img
        [src]="userImg"
        [alt]="`${userFirstName} ${userLastName}`"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <h2 class="text-[#2D2D2D] text-xl font-bold mb-4">
    {{`${userFirstName} ${userLastName}`}}
  </h2>
  <div class="flex justify-center gap-1 mb-4 text-yellow-500">
    @for (rate of [1,2,3,4,5]; track $index) { @if (userRate >= $index + 1) {
    <lucide-icon [img]="Star" class="w-5 h-5 fill-current"></lucide-icon>
    } @else {
    <lucide-icon [img]="Star" class="w-5 h-5 text-yellow-500"></lucide-icon>
    } }
  </div>
  <p class="text-[#4A4A4A] leading-relaxed mb-8 text-[15px]">{{userComment}}</p>

  <div class="text-gray-400 text-sm font-medium">{{commentDate}}</div>
</div>
