<div class="galary-container w-full h-auto flex flex-col items-center  gap-4 py-5">
<app-main-header   class="text-2xl-semibold" text="GALLARY"></app-main-header>
<app-second-header text="Check Out our Wonderful Gallery"></app-second-header>
<div class="grid grid-cols-3 grid-rows-5 max-w-7xl w-full gap-2">
    <div class="col-span-1 col-start-1 row-span-3 ">
         <img src="/gallary/img1.png" alt="Image 1" class="w-full h-full object-cover "> 
    </div>
    <div class="col-span-1 col-start-2 row-span-2 ">
         <img src="/gallary/img2.png" alt="Image 2" class="w-full h-full object-contain "> 
    </div>
    <div class="col-span-1 col-start-3 row-span-2">
         <img src="/gallary/img3.png" alt="Image 3" class="w-full h-full object-fill "> 
    </div>
    <div class="col-span-1 col-start-1 row-span-2  -row-start-3 ">
        <img src="/gallary/img4.png" alt="Image 4" class="w-full h-full object-cover "> 
    </div>
    <div class="col-span-1 col-start-2 row-span-3 -row-start-4 ">
         <img src="/gallary/img5.png" alt="Image 4" class="w-full h-full object-cover "> 
    </div>
    <div class="col-span-1 col-start-3 row-span-3  -row-start-4 ">
        <img src="/gallary/img6.png" alt="Image 4" class="w-full h-full object-cover ">
    </div>
</div>
</div>
