<footer class="flex flex-col md:flex-row  px-4 md:px-10 py-8 min-h-min ">
<div class=" flex flex-col items-center justify-center flex-1 mb-8 md:mb-0">
<div class="mb-4 flex justify-center items-center ">
    <img  class="w-[50%]"  src="logo.png" alt="rose app logo">
</div>    
    <p class="text-lg-semibold text-text-secondary text-center">Rose E-Commerce App</p>
    <p class="text-sm-regular text-text-primary text-center">All rights reserved | 2025</p>

</div>

<div class="flex flex-col flex-1 mb-7 md:mb-0">
<p class="text-lg-semibold text-text-secondary ">Discover our website</p>
    <ul class="list-none text-base-regular text-text-primary ">
        <li ><a routerLink="/main/home" class="hover:text-text-secondary ">Home</a></li>
        <li ><a href="#" class="hover:text-text-secondary">Products</a></li>
        <li ><a href="#" class="hover:text-text-secondary">Categories</a></li>
        <li><a href="#" class="hover:text-text-secondary">Occasions</a></li>
        <li><a href="#" class="hover:text-text-secondary">Contact</a></li>
        <li><a href="#" class="hover:text-text-secondary">about</a></li>
        <li><a href="#" class="hover:text-text-secondary">Terms & Conditions</a></li>
        <li><a href="#" class="hover:text-text-secondary">Privacy Policy</a></li>
        <li><a href="#" class="hover:text-text-secondary">FAQs</a></li>
    </ul>
</div>

<div class="">
<p class="text-xl-semibold text-text-secondary ">Get <span class="text-text-primary">20%</span>  Off Discount Coupon</p>
<p class="text-sm-regular text-text-placeholder ">By subscribing to our newsletter</p>
<div class="flex mt-4 relative">
    <input type="email" placeholder="Enter your email" class="flex-1 relative p-2.5 pr-24 w-93.75 rounded-4xl  bg-border-primary focus:border-none focus:outline-0 ">
    <lib-custom-button class="absolute right-0.5 pt-1!  top-1/2 -translate-y-1/2" label="subscribe"  buttonStyle="second" dir="ltr" [icon]="ArrowRight"></lib-custom-button>
</div>
</div>
</footer>