p{
  margin-bottom: 6px;
}

.price{
  margin-top: 6px;
}


::ng-deep .p-card {
  box-shadow: none !important;
}

.eye{
  width: 30px;
  height: 30px;
}

img{
  height: 300px !important;
}

::ng-deep .p-card  {
  background-color: var(--background-primary) !important;
}
