<section class="py-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-start">

      <!-- images -->
      <div>

        @if (currentImage) {
        <div class="rounded-xl overflow-hidden">
          <img
            [ngSrc]="currentImage"
            width="300"
            height="300"
            priority
            class=" object-cover"
            [alt]="productDetails.title"
          />
        </div>
        }

        <!-- thumbnails -->
        <div class="flex gap-3 mt-4">

          @for (img of productDetails?.images?.slice(0,6); track img) {

          <img
            [ngSrc]="img"
            width="80"
            height="80"
            class="w-[70px] h-[70px] object-cover rounded-md cursor-pointer border hover:border-red-400 transition"
            (click)="currentImage = img"
          />

          }

        </div>

      </div>

      <!-- product info -->
      <div class="space-y-6">

        <!-- title -->
        <h1 class="text-3xl font-semibold">
          {{productDetails.title}}
        </h1>

        <!-- price -->
        <div class="flex items-center gap-3">

          <span class="line-through text-lg">
            {{productDetails.price}}
          </span>

          <span class="text-3xl font-bold ">
            {{productDetails.priceAfterDiscount}} EGP
          </span>

          <span class="bg-gray-700 text-gray-200 text-xs px-3 py-1 rounded-full">
            {{productDetails.quantity}} left in stock
          </span>

        </div>

        <!-- rating -->
        <div class="flex items-center gap-2 text-sm">

          <i class="pi pi-star-fill text-yellow-400"></i>

          <span class="font-medium">
            Rating: {{productDetails.rateAvg}}/5
          </span>

          <span class="text-blue-400">
            ({{productDetails.rateCount}} ratings)
          </span>

        </div>

        <!-- description -->
        <p class=" leading-relaxed max-w-xl">
          {{productDetails.description}}
        </p>

        <!-- buttons -->
        <div class="flex items-center gap-4 pt-4">

          <!-- wishlist -- button -->
          <button
            class="w-12 h-12 shadow hover:bg-gray-300  flex items-center justify-center border rounded-lg transition">

            <i class="pi pi-heart"></i>

          </button>

          <!-- add to cart -- button -->
          <button
            class="flex-1 bg-text-primary  hover:bg-pink-500 font-medium py-3 rounded-lg transition flex items-center justify-center gap-2">

            <i class="pi pi-shopping-cart"></i>

            Add to Cart

          </button>
         
        </div>

      </div>

    </div>
  </div>
</section>


<!-- product reviews -->

<div class="product-details-page min-h-screen p-6 flex flex-col w-full">

@if(productDetails?._id){

<app-product-review
[productId]="productDetails._id">
</app-product-review>

}

</div>


<!-- related product -->

<app-carousel
[productsInput]="productsList"
[productsNum]="4">
</app-carousel>