<section class="w-11/12 mx-auto py-3 lg:px-0">
  <!-- Head -->
  <div
    class="flex gap-y-5 flex-col sm:flex-row sm:gap-0 sm:justify-between items-center mb-4"
  >
    <!-- Most -->
    <app-second-header [text]="'Most Popular'" />
    <!-- Links -->
    <div class="flex items-center gap-4">
      <button
        class="text-text-secondary flex items-center"
        (click)="prevOccasion()"
      >
        <i class="pi pi-arrow-circle-left" style="font-size: 20px"></i>
      </button>
      <ul class="flex gap-x-5">
        @for (item of visibleOccasionLinks; track $index) {
        <li
          class="text-nowrap"
          (click)="filterProudcts(item.name,item._id)"
          [ngClass]="
        activeLink === item.name
          ? 'text-[#A6252A] font-semibold'
          : 'text-zinc-700'
      "
          class="cursor-pointer text-nowrap"
        >
          {{ item.name }}
        </li>
        }
      </ul>
      <button
        class="text-text-secondary flex items-center"
        (click)="nextOccasion()"
      >
        <i class="pi pi-arrow-circle-right" style="font-size: 20px"></i>
      </button>
    </div>
  </div>
  <!-- Proudcts -->

  <div class="grid grid-cols-12 gap-5">
    @for (proudct of filteredList; track $index) {
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <app-card [product]="proudct"></app-card>
    </div>
    }
  </div>
  @if (filteredList.length == 0) {
  <p class="text-center my-4 text-5xl text-zinc-400">We Don't Have Proudcts</p>

  }

  <!-- view more button -->
  <p
    class="flex justify-end items-center gap-2 text-text-secondary cursor-pointer transition-all"
  >
    View More <i class="pi pi-arrow-right"></i>
  </p>
</section>
