<nav class="bg-header-second-primary shadow hidden lg:block">
  <div class="container flex items-center justify-between mx-auto w-1/2 text-gray-600 capitalize">
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover border-b-2  p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/home" routerLinkActive="text-navbar-link-hover">
      <i class="fa-solid fa-house"></i> Home
    </a>
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/products" routerLinkActive="border-navbar-link-hover">
      <i class="fa-solid fa-gift"></i> Products
    </a>
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/categories" routerLinkActive="border-navbar-link-hover">
       <i class="fa-solid fa-clipboard-list"></i> Categories
    </a>
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/occasions" routerLinkActive="border-navbar-link-hover">
      <i class="fa-solid fa-gifts"></i> Occasions
    </a>
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/contact" routerLinkActive="border-navbar-link-hover">
      <i class="fa-solid fa-headset"></i> Contact
    </a>
    <a class="flex items-center gap-2 font-medium text-navbar-link hover:text-navbar-link-hover p-2 mx-1.5 sm:mx-6 hover:no-underline" routerLink="/main/about" routerLinkActive="border-navbar-link-hover">
      <i class="fa-solid fa-circle-info"></i> About
    </a>
  </div>
</nav>
