:host {
  display: block;
  width: 100%;
}

textarea {
  width: 100%;
}

@media (max-width: 640px) {
  textarea {
    min-height: 140px;
  }
}

button {
  border: 1px solid #d1d5db !important;
}

img{
  height: 280px !important;
}
