@if (isOpen) {
  <!-- Overlay -->
  <div class="fixed inset-0 bg-opacity-50 z-40 lg:hidden" (click)="onClose()"></div>

  <!-- Sidebar -->
  <div class="fixed top-0 left-0 h-full w-80 bg-border-primary  shadow-xl z-50 transform transition-transform duration-300 lg:hidden overflow-y-auto">

    <!-- Header Sidebar -->
    <div class="p-4 bg-header-second-background sticky top-0 z-10">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-4">
          <!-- Heart -->
          <button class="text-text-primary hover:text-rose-500 transition relative">
            <lucide-icon [img]="icons[0]" class="w-5 h-5"></lucide-icon>
          </button>

          <button class="relative text-text-primary hover:text-rose-500 transition">
            <lucide-icon [img]="icons[1]" class="w-5 h-5"></lucide-icon>
            @if (isLoggedIn()) {
              <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs w-4 h-4 flex items-center justify-center rounded-full">8</span>
            }
          </button>

          <button class="relative text-text-primary hover:text-rose-500 transition">
            <lucide-icon [img]="icons[2]" class="w-5 h-5"></lucide-icon>
            @if (isLoggedIn()) {
              <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs w-4 h-4 flex items-center justify-center rounded-full">8</span>
            }
          </button>
<p-toggleswitch
  [(ngModel)]="themeChecked">
</p-toggleswitch>
        </div>

        <button (click)="onClose()" class="text-text-primary hover:text-rose-500">
          <i class="fa-solid fa-times text-xl"></i>
        </button>
      </div>
      @if (isLoggedIn()) {
      <div class="mt-2 text-xs text-gray-500">
        <span>Hello, </span>
        <span class="font-semibold text-header-second-primary">{{ firstName() }}</span>
      </div>
      }

    </div>
    @if (isLoggedIn()) {
    <div class="px-4 py-3 border-b border-gray-200 bg-border-primary ">
      <div class="flex items-center gap-2 text-sm">
        <lucide-icon [img]="icons[10]" class="w-5 h-5 text-rose-500"></lucide-icon>
        <div class="flex flex-col leading-tight">
          <span class="text-gray-500 text-xs">Deliver to:</span>
          <span class="font-semibold text-header-second-primary">Cairo, Egypt</span>
        </div>
      </div>
    </div>
    }
    <div class="flex flex-col p-4 border-b border-gray-200">
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover border-b border-gray-200" routerLink="/main/home">
          <lucide-icon [img]="icons[4]" class="w-5 h-5"></lucide-icon>
        <span>Home</span>
      </a>
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover border-b border-gray-200" routerLink="/main/products">
        <lucide-icon [img]="icons[5]" class="w-5 h-5"></lucide-icon>
        <span>Products</span>
      </a>
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover border-b border-gray-200" routerLink="/main/categories">

        <lucide-icon [img]="icons[6]" class="w-5 h-5"></lucide-icon>

        <span>Categories</span>
      </a>
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover border-b border-gray-200" routerLink="/main/occasions">
        <lucide-icon [img]="icons[7]" class="w-5 h-5"></lucide-icon>
        <span>Occasions</span>
      </a>
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover border-b border-gray-200" routerLink="/main/contact">
        <lucide-icon [img]="icons[8]" class="w-5 h-5"></lucide-icon>
        <span>Contact</span>
      </a>
      <a class="flex items-center gap-3 py-3 text-text-primary cursor-pointer hover:text-sidebar-link-hover" routerLink="/main/about">
        <lucide-icon [img]="icons[9]" class="w-5 h-5"></lucide-icon>
        <span>About</span>
      </a>
    </div>
    @if(isLoggedIn()) {
      <div class="p-4 relative">

        <button
          (click)="onToggleAccountDropdown()"
          class="flex items-center justify-between w-full py-2 text-navbar-link hover:text-navbar-link-hover">

          <div class="flex items-center gap-3 text-text-primary">

            <lucide-icon [img]="icons[3]" class="w-5 h-5"></lucide-icon>

            <span class="font-medium">My Account</span>
          </div>

          <i class="fa-solid fa-chevron-down text-sm transition-transform duration-200"
            [class.rotate-180]="isAccountDropdownOpen">
          </i>

        </button>

        @if (isAccountDropdownOpen) {
          <div class="absolute top-full right-0 mt-2 w-48 bg-white shadow-lg rounded-lg z-50">
            <app-dropdown-content></app-dropdown-content>
          </div>
        }

      </div>
    }@else {
      <a class="flex items-center gap-3 py-3 ps-4 text-text-primary cursor-pointer hover:text-sidebar-link-hover" routerLink="/login">
        <i class="fa-solid fa-user w-6"></i>
        <span>Login</span>
      </a>
    }


    <div class="p-4 border-t border-gray-200">
      <button class="flex items-center gap-2 text-sm font-medium text-text-primary hover:text-rose-500 transition">
        <i class="fa-solid fa-globe"></i>
        العربية
      </button>
    </div>
  </div>
}
