<div class="p-3 w-11/12 mx-auto flex flex-col md:flex-row items-start border-b border-[#E4E4E7] gap-4">

  <!-- image -->
<div class="rounded-lg w-full md:w-[30%] relative aspect-[4/3] overflow-hidden">
  <img
    [src]="Image"
    class="w-full h-full object-cover object-cover transition duration-300 hover:scale-105"
  >
</div>

  <!-- information -->
  <div class="px-2 md:px-4 w-full md:w-[70%] flex flex-col justify-between h-full">

    <!-- top part -->
    <div class="flex flex-col sm:flex-row sm:justify-between gap-3">

      <div>
        <h3 class="text-text-secondary font-bold text-2xl md:text-base">
          {{ descreption }}
        </h3>

        <div class="flex items-center gap-2 mt-1 text-sm text-text-primary">
          <span class="text-yellow-500">★</span>
          <span>Rating: {{ rateAvg }}/5</span>
          <span class="text-blue-500">({{ rateCount }} ratings)</span>
        </div>
      </div>

      <button
        class="bg-red-600 text-white text-[13px] md:text-[14px] px-4 md:px-6 py-2 rounded-lg hover:bg-red-700 transition w-fit flex items-center justify-center"
      >
        <lucide-icon [img]="icons[1]" class="w-4 h-4 md:w-5 md:h-5 me-2"></lucide-icon>
        Remove
      </button>

    </div>

    <!-- bottom part -->
    <div class="flex flex-col sm:flex-row sm:justify-between items-start sm:items-center gap-4 mt-6">

      <div class="flex items-center gap-2 text-text-primary">
        <span class="text-red-500">(x{{ quantity }})</span>
        <span class="text-xl md:text-2xl font-bold">{{ price }}</span>
        <span>EGP</span>
      </div>

      <!-- inc/dec -->
      <div class="flex items-center gap-3">

        <button
          (click)="increase()"
          class="w-10 h-10 md:w-12 md:h-12 bg-red-100 text-red-600 text-xl rounded-lg"
        >
          +
        </button>

        <div class="w-16 md:w-20 h-10 md:h-12 border border-text-primary text-text-primary rounded-lg flex items-center justify-center">
          {{ quantity }}
        </div>

        <button
          (click)="decrease()"
          class="w-10 h-10 md:w-12 md:h-12 bg-red-100 text-red-600 text-xl rounded-lg"
        >
          -
        </button>

      </div>

    </div>

  </div>

</div>
