<section class="w-11/12 mx-auto py-7">
  <div class="grid grid-cols-12 gap-3">
    <!-- another card -->
    <div class="hidden lg:block lg:col-span-3">
      <special-card
        [label]="'Staring from 10.99 EGP'"
        [text]="'Special Gifts For The People You Love'"
      >
        <div class="mt-1 w-50">
          <lib-custom-button
            [buttonStyle]="'second'"
            [label]="'Shop Now'"
            [icon]="arrowIcon"
          ></lib-custom-button>
        </div>
      </special-card>
    </div>
    <!-- Carousel -->
    <div class="col-span-12 lg:col-span-9 relative">
      <owl-carousel-o [options]="customOptions" #owlCar>
        @for (item of carouselItems; track $index) {
        <ng-template carouselSlide>
          <div class="relative">
            <div
              [class]="item.image"
              class="w-full h-120 bg-center bg-cover rounded-2xl"
            >
              <div
                class="bg-linear-90 from-[rgba(0,0,0,0.7)] to-transparent w-full h-full rounded-2xl p-5 flex flex-col justify-end"
              >
                <div class="texts">
                  <h2 class="text-white font-semibold text-5xl pb-3">
                    {{item.title}}
                  </h2>
                  <p class="text-white text-xl">{{item.subTitle}}</p>
                </div>
                <div class="mt-6 w-50">
                  <lib-custom-button
                    [buttonStyle]="'second'"
                    [label]="'I’m buying !'"
                  ></lib-custom-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
      <!-- Custom Nav Buttons -->
      <div
        class="flex gap-3 bg-[#FBEAEA] text-zinc-400 rounded-full py-0.5 absolute bottom-4 right-4 z-99999"
      >
        <button
          (click)="goPrev()"
          class="flex justify-center items-center hover:text-zinc-600 active:text-[#A6252A] transition-all"
        >
          <i class="pi pi-angle-left" style="font-size: 30px"></i>
        </button>

        <button
          (click)="goNext()"
          class="flex justify-center items-center hover:text-zinc-600 active:text-[#A6252A] transition-all"
        >
          <i class="pi pi-angle-right" style="font-size: 30px"></i>
        </button>
      </div>
    </div>
  </div>
      <section class="mx-auto flex flex-wrap  py-3 lg:px-0">
  @for (gift of gifts; track $index) {
    <app-special-gifts-card
      [image]="gift.image"
      [title]="gift.title"
      [label]="gift.label"
      class="w-full lg:w-1/3 md:w-1/2 "
    ></app-special-gifts-card>
  }
</section>
</section>
