::ng-deep {
  .owl-theme .owl-dots {
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0 !important;
    z-index: 99;
    display: flex;
    align-items: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.6) !important;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    border: none;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    width: 35px;
    background: #b22222 !important;
    border-radius: 20px;
    opacity: 1;
  }

  .owl-theme .owl-dots .owl-dot:hover span {
    background: #b22222 !important;
  }

  .owl-theme .owl-dots .owl-dot {
    outline: none;
    background: none !important;
  }
}
