<div class="min-h-screen flex gap-4">
  <div class="_right-section w-75 m-5 h-full bg-red-500"></div>

  @if (isLoading()) {
  <div class="left-section flex items-center justify-center w-full">
    <app-spinner />
  </div>
  }@else {
  <div class="left section flex flex-col">
    <div
      class="products-section h-full w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
    >
      @for (product of products(); track $index) {
      <app-card
        [product]="product"
        [routerLink]='["/main/product", product._id]'
      ></app-card>
      }
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="pagesinfo().totalItems"
    ></p-paginator>
  </div>
  }
</div>
