:host ::ng-deep{
    .p-paginator-page.p-paginator-page-selected {
        background-color: var(--button-primary) !important;
         color:white !important;
    }
    .p-paginator-page{
        border-radius: 8px;
       
    }
}