       <div class="mb-6 border-border-primary border-b pb-6">
           <h1 class="text-text-primary text-2xl-semibold ">Create a new password</h1>
           <p class="text-text-primary text-base-regular">Set a strong password to secure your account.</p>
       </div>
       <form [formGroup]="resetPasswordForm" (ngSubmit)="onsubmit()">
       <app-form-input [label]="'Password'" [type]="'password'" placeholder="********" formControlName="password"></app-form-input>
       <app-form-input [label]="'Confirm Password'" [type]="'password'" placeholder="********" formControlName="confirmPassword"></app-form-input>
       <button class="w-full bg-button-primary text-text-primary py-3 rounded-lg mt-4 ">Reset Password</button>
       </form>
       <p> Don’t have an account yet? Create one now!</p>