<form-label [label]="'Welcome'"></form-label>

<form
  class="w-full max-w-md flex flex-col gap-1"
  [formGroup]="loginForm"
  (ngSubmit)="submitForm()"
>
  <hr class="w-full border-gray-300" />

  <app-form-input
    formControlName="email"
    [label]="'Email'"
    [Id]="'email'"
    [placeholder]="'Enter your email'"
    [type]="'text'"
  >
  </app-form-input>

  <app-form-input
    formControlName="password"
    [label]="'Password'"
    [Id]="'password'"
    [placeholder]="'Enter your password'"
    [type]="'password'"
  >
  </app-form-input>

  <lib-custom-button [label]="'Login'"></lib-custom-button>
  <div class="flex flex-col gap-2 w-full">
    <div class="w-full flex justify-end">
      <a [routerLink]="'/forget-password'" class="text-red-950 hover:underline">
        Forgot Password?
      </a>
    </div>

    <div class="w-full flex items-center">
      <input
        id="remember-me"
        type="checkbox"
        class="w-4 h-4 mr-2 border border-red-950"
      />
      <label for="remember-me" class="text-sm text-red-950">Remember me</label>
    </div>
  </div>
</form>
