<!-- <form  class="" [formGroup]="loginForm" (ngSubmit)="submitForm()" action="">

<hr>

    <app-form-input formControlName="email" [label]="'Email'" [Id]="'email'" [placeholder]="'Enter your email'" [type]="'text'" ></app-form-input>
<app-form-input formControlName="password" [label]="'Password'" [Id]="'password'" [placeholder]="'Enter your password'" [type]="'password'"></app-form-input>


<button  class="bg-button-primary mb-8">Login</button>

<hr class="">
</form> -->

<form
  class="w-full max-w-md flex flex-col gap-1"
  [formGroup]="loginForm"
  (ngSubmit)="submitForm()"
>
  <hr class="w-full border-gray-300" />

  <app-form-input
    formControlName="email"
    [label]="'Email'"
    [Id]="'email'"
    [placeholder]="'Enter your email'"
    [type]="'text'"
  >
  </app-form-input>

  <app-form-input
    formControlName="password"
    [label]="'Password'"
    [Id]="'password'"
    [placeholder]="'Enter your password'"
    [type]="'password'"
  >
  </app-form-input>

  <custom-button [label]="'Login'"></custom-button>

  <div class="flex flex-col w-full gap-2 mb-5">
    <a
      [routerLink]="'/forgot-password'"
      class="text-red-950 underline underline-offset-1 self-end"
    >
      Forgot Password?
    </a>

    <div class="flex items-center gap-2 self-start">
      <input
        class="border scale-125 p-2 accent-red-950"
        id="remember-me"
        type="checkbox"
      />
      <label for="remember-me" class="text-sm text-red-950">Remember me</label>
    </div>
  </div>

  <hr class="w-full border-gray-300" />

  <p>
    Don,t have an account yet
    <a routerLink="'/register'" class="text-red-950 hover:underline m-5"
      >create one now!</a
    >
  </p>
</form>
